{% extends "base_warehouse.html" %}
{% load staticfiles %}
{% block title %}Actualizar{% endblock %}
{% block css %}{% endblock %}
{% block javascript %}{% endblock %}
{% block bottons %}
 <div id="panel-buttons">

    <div id="buttons">
         <p>     
            <a href="{% url 'create_units_measures' %}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Crear</button></a>
            <a href="{% url 'delete_units_measures' unitsmeasures.pk %}"><button type="button" class="btn btn-danger">Eliminar</button></a>
         </p> 
    </div>
</div>      
{% endblock %}
{% block list %}
{% endblock %}
{% block form %}
<style>
th {
    border-right:#ecf0f5 15px solid;
    border-left:#ecf0f5 30px solid;
    
}

</style>
<div id="container">
   <form action="." method="POST">
   {% csrf_token %}
   <h3 class="page-header">Modificar Unidad de Medida</h3>
      
<!--#####row 1######-->
        <table>
            <tr>
                <th>Unidad:</td>
                <td><input class="form-control" name= units_measures {{ form.units_measures }}</td>
                <th>Active</th>
                <td><input type="checkbox" name= active {{form.active}} </td>
            </tr>
                <tr><td><br><br></td></tr>
<!--#####row 2######-->
            <tr>
                
                <th></th>
                <td>{{ form.units_measures.errors }}
                    {{ form.active.errors }}</td>
            </tr>
                <tr><td><br><br></td></tr>
                
            </table>
            <center>
                   <p>
                   <a href="{% url 'list_units_measures' %}"><button type="button" class="btn btn-default">Cancelar</button></a>
                   <button type="submit" class="btn btn-default">Guardar</button>
                   </p>
                </center>

   </form>
</div>
{% endblock %}