{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Bienvenido{% endblock %}
{% block css %}{% endblock %}

{% block content %}
<section>
        <div class="container">
            <div class="row">
                {% block category %}
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Categorias</h2>
                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Kids</a></h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="#">Fashion</a></h4>
                                </div>
                            </div>
                           
                        </div><!--/category-products-->
                    
                        <div class="brands_products"><!--brands_products-->
                            <h2>Marcas</h2>
                            <div class="brands-name">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
                                    <li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
                                 
                                </ul>
                            </div>
                        </div><!--/brands_products-->
                        
                        <div class="price-range"><!--price-range-->
                            <h2>Rango de precios</h2>
                            <div class="well text-center">
                                 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
                                 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                            </div>
                        </div><!--/price-range-->
                        
                        <div class="shipping text-center"><!--shipping-->
                            <img src="{% static "website/images/home/shipping.jpg" %}" alt="" />
                        </div><!--/shipping-->
                    
                    </div>
                </div>
                {% endblock %}
                <div class="col-sm-9 padding-right">
                    <div class="product-details"><!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                <img src="/media/{{ products.image }}" alt="" />
                                
                            </div>
                            

                        </div>
                        <div class="col-sm-7">
                            <div class="product-information"><!--/product-information-->
                               
                                <h2>{{ products.products }}</h2>
                                <p>Web ID: 1089772</p>
                                
                                <span>
                                    <span>US $59</span>
                                    <label>Quantity:</label>
                                    <input type="text" value="3" />
                                    <button type="button" class="btn btn-fefault cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </button>
                                </span>
                                <p><b>Availability:</b> In Stock</p>
                                <p><b>Condition:</b> New</p>
                                <p><b>Brand:</b> E-SHOPPER</p>
                                
                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->
                    
            </div>
        </div>
    </section>
{% endblock %}