{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content %}{% blocktrans %}
{% endblocktrans %}
<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<div class="signup-form">
						<h2>
						Ingrese su correo electrónico en el siguiente formulario y le enviaremos
						instrucciones para crear uno nuevo</h2>
					    <form method='post' action=''>
					    	{% csrf_token %}
					        
							<input type="email" placeholder="Email Address" name=email {{ form.email }} 
							
							<button type="submit" value="{% trans "Reset password"  %}" class="btn btn-default">Enviar</button>
					    </form>
    				</div> 
				</div> 
			</div>
		</div>
	</section><!--/form-->

{% endblock %}
