{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Confirm password reset" %}{% endblock %}
{% block content %}
<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<div class="signup-form">
						<h2>Restablecer Contraseña</h2>
					    <form method='post' action=''>
					    	{% csrf_token %}
					       
							<input type="password" placeholder="Password" name= new_password1 /> 
							<input type="password" placeholder="Repita el Password" name= new_password2 />
							<button type="submit" value="{% trans "Send activation email" %}" class="btn btn-default">Restablecer</button>
					    </form>
    				</div> 
				</div> 
			</div>
		</div>
	</section><!--/form-->


{% endblock %}
