{% extends "base_conf.html" %}
{% load staticfiles %}
{% block title %}Detalle{% endblock %}
{% block css %}{% endblock %}
{% block javascript %}{% endblock %}
{% block buttons %}
 <div id="panel-buttons">
    <div id="buttons">
         <p>     
            <a href="{% url 'create_groups' %}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Crear</button></a>
            <a href="{% url 'update_groups' group.pk %}"><button type="button" class="btn btn-success">Modificar</button></a>
            <a href="{% url 'delete_groups' group.pk %}"><button type="button" class="btn btn-danger">Eliminar</button></a>
         </p> 
    </div>
</div>      
{% endblock %}
{% block form %}
<div class="row">
            <div class="col-lg-6">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Nombre</th>
                                <td>{{ group.name }}</td>
                            </tr>
                            <tr>

                                <th>Permisos</th>
                                <td>{{ group.permissions }}</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
{% endblock %}